html {
    background-color: var(--Light-blue-light-blue-100, #0f324c);
}

body {
    min-height: 100vh;
    background: var(--Light-blue-light-blue-100, #0f324c);
    margin: 0 auto;
}

@media (min-width: 768px) {
    body #codificacion {
        font-size: 14px;
        margin-left: 20%;
        width: 55%;
    }

    body #areaResultado {
        margin-left: 20%;
        width: 55%;
        margin-top: 1%;
    }

    .titulo {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    #codificacion,
    #areaResultado {
        width: 90%;
        margin-left: 5%;
    }
}

#tema {
    background: var(--Light-blue-light-blue-100, #0f324c);
    margin: 2% 4% 4% 4%;
    width: 92%; 
}

.titulo {
    color: white;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

#codificacion {
    background: var(--Light-blue-light-blue-100, #234a6b);
    border: 1px solid #000000;
    margin: -3% 2% 0 2%;
    border-radius: 30px;
    width: 92%; 
    height: 18em;
}

#cadena {
    background: var(--Dark-blue-dark-blue-300, #7070a4);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    font-style: normal;
    height: 55%;
    width: 90%;
    margin: 3% 3% 3% 4%;
    border-radius: 30px;
    border: 1px solid #ddd;
    padding: 5px;
    resize: none;
}

#cadena::placeholder {
    color: white;
    text-align: center;
    line-height: 130px;
}

#areaResultado::placeholder,
#cadena::placeholder {
    font-size: 1em;
}

[type="submit"] {
    width: 20%;
    font-size: 0.6em;
    font-weight: bold;
    font-style: oblique;
    border-radius: 25px;
    padding: 5px;
    text-align: center;
    color: var(--White, black);
    margin: 0 auto;
    display: inline-block;
}

.botonCod {
    background: var(--Dark-blue-dark-blue-300, #4b80c2);
    border: 1px solid var(--Dark-blue-dark-blue-300, #000000);
    margin-left: 9.5%;
}

.botonDec {
    background: var(--Dark-blue-dark-blue-300, #dd442d);
    border: 1px solid var(--Dark-blue-dark-blue-300, #000000);
}

.botonLimp {
    border: 1px solid var(--Dark-blue-dark-blue-300, #000000);
    background: var(--Dark-blue-dark-blue-300, #cbc168);
}

.botonCop {
    background: var(--Dark-blue-dark-blue-300, #a23cb4);
    border: 1px solid var(--Dark-blue-dark-blue-300, #000000);
}

#areaResultado {
    border-style: solid;
    border-color: #000000;
    font-size: 11px;
    margin: 1%;
    width: 92%; 
    height: 17em;
    text-align: center;
    resize: none;
    border-radius: 30px;
}

#areaResultado::placeholder {
    text-align: center;
    color: gray;
    line-height: 180px;
}

footer {
    background-color: #0f324c;
    margin: 0 4% 0 ;
    padding: 0.5%;
    width: 92%; 
    height: 45px;
    color: #fff;
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: none;
    cursor: pointer;
    color: rgb(234, 196, 192);
    transition: 1s;
}

p {
    margin: 5px;
    font-weight: bold;
}

header {
    height: 70px;
}

@media (min-width: 768px) {
    body #codificacion  #areaResultado{
        font-size: 13px;
        margin-left: 5%;
        width: 55%;
        display: block; 
    }

    .titulo {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    #codificacion,
    #areaResultado {
        width: 90%;
        margin-left: 5%;
    }
}